body { background-color: #EAD6E7; }

.basic {
    padding: 1rem;
    margin: auto;
    text-align: center;
}

fieldset {
    border: 2px solid #333;
    border-radius: 5px;
    padding: 0 1rem;
    width: min(400px, 100%);
    margin: auto;
}
