/* im putting this in its own css file so its out of the way */
body {
    background-color: #EAD6E7;
}

h1 { margin-top: 0.5rem; }

ul, h1, h2 { margin-left: 1rem; }

.palette {
    width: 36rem;
    display: flex;
    margin-left: 1rem;
    margin-bottom: 5rem;

    border-radius: 1.15rem;
    border: 2px solid #000;
}

.background, .text, .links {
    height: 4rem;
    width: 12rem;

    text-align: center;
}

.background {
    background-color: #EAD6E7;
    border-radius: 1rem 0 0 1rem;
    color: #060A19;
}

.text {
    background-color: #060A19;
    color: #e3e3e3;
}

.links {
    background-color: #2C4CB2;
    border-radius: 0 1rem 1rem 0;
    color: #060A19;
}