* {
    font-family: Arial, Helvetica, sans-serif;
    color: #141719;
}

body {
    background-color: #778899;
}

a {
    color: #000040;
}

a:visited {
    color: #400000;
}

a:hover, a:active {
    color: #882088;
}